<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officiis modi enim maxime maiores nisi itaque provident tempore adipisci. Incidunt quo doloremque enim eos quam ex quibusdam. Similique, molestias rem!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/portada.jpeg" class="img-fluid img-proyecto" >
        </div>

    </div>
</div>
