<div class="row">
    <div>
        <header>
            <div class="px-3 py-2 text-bg-dark">
              <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" >
                  <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                     <img src="../../../assets/APLogo.png"id="logo" class="img-fluid">
                  </a>
        
                  <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                      <a href="#" class="nav-link text-secondary">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                        <a href="https://www.facebook.com"> <img src="../../../assets/facebook.png" class="img-fluid"></a>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                        <a href="https://github.com"> <img src="../../../assets/github.png" class="img-fluid"></a>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                       <a href="https://www.instagram.com"> <img src="../../../assets/instagram.png" class="img-fluid"></a>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                        <a href="https://www.linkedin.com"> <img src="../../../assets/linkedin.png" class="img-fluid"></a>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                        <a href="https://twitter.com/?lang=es"> <img src="../../../assets/twitter.png" class="img-fluid"></a>
                      </a>
                    </li>
                    <button type="button" class="btn btn-secondary btn-lg" (click)="login()">Ingreso</button>
                  </ul>
                </div>
              </div>
            </div>
<app-logo-ap></app-logo-ap>
            
          </header>
    </div>
</div>
