<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/outro.jpg" class="img-fluid" id="perfil">
    </div>


    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Fernandez Pablo Cesar</p>
        <p>Full Stack Developer jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem cupiditate illum, temporibus repellendus natus aliquam maxime magni nulla iusto? Obcaecati, natus. Unde iure nesciunt deleniti, rerum numquam quisquam modi asperiores.</p>

        </span>
    </div>
</div>

