<div class="row">
    <h1>Experiencia Laboral</h1>>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>-<h3>(Años)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta odio similique autem excepturi consequatur, architecto id laborum quod hic necessitatibus commodi nam repellat ipsa omnis error repellendus dolores maiores? Eos!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>-<h3>(Años)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta odio similique autem excepturi consequatur, architecto id laborum quod hic necessitatibus commodi nam repellat ipsa omnis error repellendus dolores maiores? Eos!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1>-<h3>(Años)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta odio similique autem excepturi consequatur, architecto id laborum quod hic necessitatibus commodi nam repellat ipsa omnis error repellendus dolores maiores? Eos!
            </p>
        </ul>

    </div>
</div>
