
div{
    background-color: #000;
    text-align: center;
    color: #ededed;
}
#nombre{
    font-weight: bold;
    margin-top: 20%;
}
@media (min-width: 576px){
    #perfil{
        position: absolute;
        width: 10%;
        border-radius: 90%;
        left:2%;
        top:650px
    }
}
@media (max-width: 575px){
    #perfil{
        position: absolute;
        width: 30%;
        border-radius: 90%;
        left:40%;
        top:1000px
    }
}
